<!DOCTYPE html>
<html>
<head>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="bg-blue-400">
    <div class="p-2 text-center">
        <h1 class="text-red-500">Hello, world!</h1>
        <button class="btn-primary btn-primary:hover btn-primary:focus">Нажми меня</button>
        <br><br>
        <a href="/" class="btn-secondary">Hello Page</a>
        <a href="/about" class="btn-secondary">About Us Page</a>
        <a href="/contact" class="btn-secondary">Contact Us Page</a>
    </div>
</body>
</html>


